# commit with version tag(v1,v1.1,v1.1.1...) to create release.
# need CHANGELOG-$tag.md(CHANGELOG-v1.0.md).

# 1.setup go env
# 2.build
# 3.release

name: release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.19
        uses: actions/setup-go@v4
        with:
          go-version: 1.19
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Get tag or branch
        id: extract_branch
        shell: bash
        run: |
          latest_tag=$(git describe --tags --abbrev=0 2>/dev/null)
          if [[ -n "$latest_tag" ]]; then
           branch=$latest_tag
          else
            branch=${GITHUB_REF#refs/heads/}
          fi
          echo "tag or branch is $branch"
          echo "##[set-output name=branch;]${branch}"

      - name: Build
        if: github.event_name == 'push'
        run:
          KUBE_BUILD_PLATFORMS="linux/amd64 linux/arm64 darwin/amd64 darwin/arm64" make build

      - name: Compress
        run: |
          pushd dist
          tar -zcvf kc-linux-arm64.tar.gz linux_arm64/
          tar -zcvf kc-linux-amd64.tar.gz kubeclipper-server kubeclipper-agent kcctl
          tar -zcvf kc-darwin-amd64.tar.gz darwin_amd64/
          tar -zcvf kc-darwin-arm64.tar.gz darwin_arm64/
          popd
      - name: Setup ossutil
        uses: manyuanrong/setup-ossutil@v3.0
        with:
          endpoint: ${{ secrets.OSS_ENDPOINT }}
          access-key-id: ${{ secrets.OSS_ACCESS_KEY }}
          access-key-secret: ${{ secrets.OSS_ACCESS_SECRET }}
          #sts-token: "sts_token"
      - name: Upload to oss
        run: |
          ossutil cp -rf dist/kc-linux-arm64.tar.gz oss://${{ secrets.OSS_BUCKET }}/kc/${{ steps.extract_branch.outputs.version }}/
          ossutil cp -rf dist/kc-linux-amd64.tar.gz oss://${{ secrets.OSS_BUCKET }}/kc/${{ steps.extract_branch.outputs.version }}/
          ossutil cp -rf dist/kc-darwin-amd64.tar.gz oss://${{ secrets.OSS_BUCKET }}/kc/${{ steps.extract_branch.outputs.version }}/
          ossutil cp -rf dist/kc-darwin-arm64.tar.gz oss://${{ secrets.OSS_BUCKET }}/kc/${{ steps.extract_branch.outputs.version }}/

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            dist/kc-linux-arm64.tar.gz
            dist/kc-linux-amd64.tar.gz
            dist/kc-darwin-amd64.tar.gz
            dist/kc-darwin-arm64.tar.gz
          # note you'll typically need to create a personal access token
          # with permissions to create releases in the other repo
          token: ${{ secrets.GH_TOKEN }}